.todo.completed{
    text-decoration: line-through;
}
.todo-form{
    display:flex;
    justify-content: center;
}
.todo-form button:hover{
  opacity: 0.8;  
  background-color: lightgray;

}
.todo-form button{
    width: 10%;
}
.todo-form input{
    width: 30%;
}
.header{
    text-align: center;
}
.list-and-complete-button{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.list-and-complete-button p{
    font-size: 1.6rem;
}
.list-and-complete-button button{
    border-radius: 10px;
}

body{
    background-color:mistyrose;
}